@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

@import 'components/header';
@import 'components/footer';

@import 'components/main';
@import 'components/method';
@import 'components/prog';
@import 'components/progin';
@import 'components/video';
@import 'components/authors';
@import 'components/products';
@import 'components/comments';
@import 'components/reason';

@import 'components/modals';
@import 'components/globus';

@import 'components/swiperArrow';


.last-bg {
	padding: 2rem 0;
	background: url(../img/last-bg.jpg) center no-repeat;
	background-size: cover;
}

.main-btn {
	position: relative;
	z-index: 3;
	a {
		padding: 1rem 3.5rem;
		background: linear-gradient(0deg, #2F5C48 0%, rgba(105, 180, 146, 0.28) 100%),#008000;
		box-shadow: 0px 4px 4px rgba(4, 67, 85, 0.8);
		border-radius: 120px;
		color: $yellow;
		font-size: $size16;
		font-weight: 500;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.span-blue {
	color: $blue;
}

.span-darkGreen {
	color: $darkGreen;
}

.span-darkOrange {
	color: $darkOrange;
}

.mainTitle {
	font-size: $size36;
	line-height: 150%;
	letter-spacing: 0.01em;
	text-align: center;
	font-weight: 600;
}

.secondTitle {
	font-size: $size25;
	line-height: 150%;
	letter-spacing: 0.01em;
	text-align: center;
}

html {
	height: 100%;
	line-height: $mainLineHeight;
	letter-spacing: 0.01em;
	font-size: $size16;
	color: $darkOrange;
}

body {
	padding: 0;
	margin: 0;
	font-family: $mainFont;
	font-size: $size16;
	font-weight: $fw600;
	color: $darkOrange;
	letter-spacing: 0.01em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

section, .section {
	position: relative;
	padding: 1.5rem 0;
	@media screen and (max-width: $smDesktopWidth) {
		padding: 1rem 0;
	}
}

.container {
	width: 100%;
	flex: 0 0 auto;
	position: relative;
	margin: 0 auto;
	max-width: $desktopWidth;
	@media screen and (max-width: $smDesktopWidth) {
		max-width: $tableWidth;
	}
	@media screen and (max-width: $tableWidth) {
		max-width: $phoneWidth;
	}
	@media screen and (max-width: $phoneWidth) {
		max-width: $smPhoneWidth;
	}
	@media screen and (max-width: $smPhoneWidth) {
		max-width: $smContainerWidth;
	}
}