.footer {
    margin-top: 6rem;
    padding: 2rem;
    @media screen and (max-width: 456px) {
        margin-top: 1rem;
    }
    &-content {
        display: grid;
        grid-template-columns: 260px 300px 1fr 1fr;
        @media screen and (max-width: 456px) {
            grid-template-columns: repeat(1, 1fr);
        }
        &__list {
            li {
                margin-bottom: 1rem;
                a {
                    color: rgba(4, 67, 85, 0.6);
                    font-weight: 500;
                    font-size: $size16;
                    &:hover {
                        color: $darkOrange;
                        border-color: $darkOrange;
                    }
                }
            }
        }
        &__social {
            display: flex;
            gap: 1rem;
        }
        &__last {
            @media screen and (max-width: 456px) {
                margin-top: 1rem;
            }
            li {
                padding-bottom: 2rem;
                a {
                    color: rgba(4, 67, 85, 0.6);
                    font-weight: 500;
                    font-size: $size16;
                    &:hover {
                        color: $darkOrange;
                        border-color: $darkOrange;
                    }
                }
            }
        }
    }
}