.main {
    &-content {
        display: flex;
        margin-top: 7rem;
        justify-content: space-between;
        &__item {
            &__title {
                padding-bottom: 2rem;
                h1 {
                    color: $darkGreen;
                    font-size: $size48;
                    font-weight: 600;
                }
            }
            &__suptitle {
                display: flex;
                padding-top: 0.5rem;
                padding-bottom: 3.5rem;
                align-items: center;
                gap: 1rem;
                white-space: nowrap;
                h2 {
                    color: $blue;
                    font-size: 28px;
                    font-weight: 500;
                }
                p {
                    padding: 0.4rem 1rem;
                    background: #FFFFFF;
                    border-radius: 15px 15px 15px 45px;
                    border: 1px solid rgba(190, 190, 190, 0.8);
                    color: $darkOrange;
                    font-size: 28px;
                    font-weight: 500;
                    z-index: 1;
                }
            }
            &__list {
                display: flex;
                gap: 1rem;
                padding-bottom: 4rem;
                p {
                    font-weight: normal;
                    font-size: $size18;
                    color: $blue;
                }
            }
            &__desc {
                display: flex;
                padding-bottom: 3rem;
                p {
                    padding: 1rem 1.5rem;
                    background: #FFFFFF;
                    border-radius: 15px 15px 15px 45px;
                    border: 1px solid rgba(190, 190, 190, 0.8);
                    color: $darkOrange;
                    strong {
                        color: $blue;
                    }
                    span {
                        color: $darkGreen;
                    }
                }
            }
            &__img {
                position: relative;
                top: -8.5rem;
                left: -15rem;
            }
        }
    }

    &-dis {
        position: relative;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px 45px 45px 45px;
        &__content {
            display: grid;
            justify-content: center;
            text-align: center;
        }
        &__img {
            position: absolute;
            top: -7rem;
            left: -2rem;
        }
        &__title {
            font-size: $size36;
            font-weight: 600;
            span {
                font-weight: bold;
                font-size: 66px;
                line-height: 170%;
                letter-spacing: 0.01em;
                color: $ligthGreen;
            }
            strong {
                color: $blue;
            }
        }
        &__suptitle {
            font-size: $size25;
            font-weight: 600;
            span {
                color: $blue;
            }
        }
        &__btn {
            padding-top: 3rem;
            padding-bottom: 1rem;
        }
    }
}

.cibk,
.cibk *,
.cibk :before,
.cibk :after {
  box-sizing: border-box;
}

.cibk input:focus,
.cibk select:focus,
.cibk textarea:focus {
  outline: none;
}

.cibk {
  display: block;
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  max-width: 700px;
  background: #e7e6eb;
}

@media (max-width: 700px) {
  .cibk {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.cibk-headline {
  display: block;
  margin: 0 auto 20px;
  padding: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #5e5e5e;
}

.cibk-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

@media (max-width: 700px) {
  .cibk-form {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}

.cibk-data {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 10px 0 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 700px) {
  .cibk-data {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 286px;
  }
}

.cibk-field {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.cibk-field:not(:last-child) {
  margin: 0 0 10px;
}

.cibk-field label {
  -webkit-box-flex: 0 0 100px;
  -moz-box-flex: 0 0 100px;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  display: block;
  margin: 0;
  padding: 0;
  width: 100px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

.cibk-field label span {
  display: inline;
  color: #7c7c7c;
}

.cibk-field input {
  display: block;
  margin: 0;
  padding: 0 0 0 8px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

@media (max-width: 700px) {
  .cibk-field input {
    width: 100%;
  }
}

.cibk-result {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 0 0 10px;
  padding: 20px 35px;
  width: 100%;
  background: #fff;
}

@media (max-width: 700px) {
  .cibk-result {
    margin-left: 0;
    max-width: 286px;
  }
}

.cibk-result-field {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cibk-result-field label {
  display: block;
  margin: 0;
  padding: 0;
  width: 100px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

.cibk-result-ceil {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0;
  padding: 3px 10px;
  width: 100px;
  height: 42px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  background: #57b847;
  color: #fff;
}