.method {
    padding: 6rem 0;
    background: url(../img/method-bg.jpg) center no-repeat;
    background-size: cover;
    @media screen and (max-width: 456px) {
        padding: 2rem 0;
    }
    &-title {
        display: flex;
        justify-content: center;
        h2 {
            width: 880px;
            @media screen and (max-width: 456px) {
                text-align: left;
            }
        }
    }
    &-content {
        display: grid;
        margin-top: 3rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        @media screen and (max-width: 456px) {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 456px) {
                margin-bottom: 2rem;
            }
            &__desc {
                h3 {
                    color: $darkOrange;
                    font-size: $size20;
                    @media screen and (max-width: 456px) {
                        font-size: $size14;
                        font-weight: 600;
                    }
                }
                p {
                    color: $blue;
                    font-weight: normal;
                    @media screen and (max-width: 456px) {
                        font-size: $size14;
                    }
                }
            }
        }
    }
    &-globus {
        padding-top: 6rem;
        &__content {
            display: grid;
            padding-left: 4rem;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            @media screen and (max-width: 456px) {
                padding-left: 0;
                grid-template-columns: repeat(1, 1fr);
            }
            &__item {
                &__desc {
                    p {
                        text-align: center;
                        color: $blue;
                        font-size: $size25;
                        font-weight: normal;
                        line-height: 170%;
                        @media screen and (max-width: 456px) {
                            font-size: $size30;
                        }
                        strong {
                            color: $darkOrange;
                        }
                    }
                }
                &__text {
                    @media screen and (max-width: 456px) {
                        margin-top: 1rem;
                    }
                    p {
                        text-align: center;
                        font-size: $size20;
                        font-weight: normal;
                        line-height: 170%;
                        @media screen and (max-width: 456px) {
                            font-size: $size14;
                            font-weight: 600;
                        }
                        span {
                            color: $blue;
                        }
                    }
                }
                &__suptext {
                    margin-top: 2rem;
                    p {
                        padding: 0.4rem 0.5rem;
                        text-align: center;
                        background: #FFFFFF;
                        border-radius: 15px 15px 15px 45px;
                        border: 1px solid rgba(190, 190, 190, 0.8);
                        color: $blue;
                        font-weight: normal;
                        line-height: 170%;
                        font-size: $size25;
                        @media screen and (max-width: 456px) {
                            font-size: $size16;
                        }
                        span {
                            color: $darkOrange;
                        }
                    }
                }
            }
        }
    }
}