.progin {
    margin-top: 3rem;
    @media screen and (max-width: 456px) {
        margin-top: 1rem;
    }
    &-title {
        display: flex;
        justify-content: center;
        h2 {
            padding: 0.3rem 2rem;
            background: #FFFFFF;
            border-radius: 15px 15px 15px 45px;
            border: 1px solid rgba(190, 190, 190, 0.8);
            color: $darkOrange;
            font-weight: 600;
        }
    }
    &-content {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
        gap: 3.2rem;
        @media screen and (max-width: 456px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        &__item {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: flex-end;
            p {
                color: $blue;
                font-size: $size20;
                font-weight: normal;
                @media screen and (max-width: 456px) {
                    font-size: $size16;
                }
                strong {
                    color: $darkOrange;
                }
            }
        }
    }
}