.prog {
    padding: 6rem 0;
    background: url(../img/prog-bg.jpg) center no-repeat;
    background-size: cover;
    @media screen and (max-width: 456px) {
        padding: 2rem 0;
    }
    &-b {
        padding: 1rem 0;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border-radius: 15px 45px 45px 45px;
    }
    &-title {
        h3 {
            padding-top: 1rem;
            color: $blue;
            font-weight: normal;
        }
    }
    &-content {
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;
        @media screen and (max-width: 456px) {
            flex-direction: column;
        }
        &__item {
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 456px) {
                margin-bottom: 1rem;
            }
            &:nth-child(1) {
                margin-top: -13rem;
                justify-content: center;
                @media screen and (max-width: 456px) {
                    margin-top: 0;
                    order: -2;
                }
            }
            &:nth-child(3) {
                margin-top: 10rem;
                margin-right: 1rem;
                justify-content: center;
                @media screen and (max-width: 456px) {
                    margin-top: 0;
                    margin-right: 0;
                    order: -1;
                }
            }
            &__img {
                @media screen and (max-width: 456px) {
                    width: 320px;
                    height: 320px;
                }
            }
            &__title {
                display: flex;
                padding-bottom: 1.6rem;
                justify-content: center;
                @media screen and (max-width: 456px) {
                    display: inline-block;
                    padding: 1rem;
                    text-align: center;
                }
                h4 {
                    background: #FFFFFF;
                    border-radius: 15px 15px 15px 45px;
                    border: 1px solid rgba(190, 190, 190, 0.8);
                    color: $darkOrange;
                    font-size: $size24;
                    font-weight: 600;
                    line-height: 170%;
                    @media screen and (max-width: 456px) {
                        font-size: $size16;
                    }
                }
                &__one {
                    padding: 0.3rem 5rem;
                    @media screen and (max-width: 456px) {
                        padding: 0;
                    }
                }
                &__sec {
                    padding: 0.3rem 1rem;
                    @media screen and (max-width: 456px) {
                        padding: 0;
                    }
                }
            }
            &__text {
                p {
                    font-size: $size20;
                    font-weight: normal;
                    text-align: center;
                    color: $blue;
                    line-height: 170%;
                    @media screen and (max-width: 456px) {
                        font-size: $size14;
                    }
                }
            }
        }
    }
}