.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: url(../img/arrowRight.png);
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: url(../img/arrowLeft.png);
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: calc(0.5rem - 300px);
    @media screen and (max-width: 456px) {
        display: none;
    }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: calc(1rem - 300px);
    @media screen and (max-width: 456px) {
        display: none;
    }
}